.card {
    background: #fff;
    margin: 15px 0px 15px 0px;
    padding: 20px;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 10px 5px #e7e7e7;
    box-shadow: 0 0 10px 5px #e7e7e7;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(253 253 253 / 3%);
    border-bottom: 1px solid rgb(42 37 37 / 13%)
}

.dropdown {
    float: right;
}

.sales-chart {
    position: relative;
    padding-bottom: 45%;
    height: 0;
    overflow:hidden;
}

#piechart {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:500px;
}

@media only screen and (max-width: 990px){
    #piechart {
        width: 100% !important;
        height: 300px !important;
    }
    
    #barchart {
        width: 100% !important;
        height: 300px !important;
    }
    
    .sales-chart {
        position: relative;
        padding-bottom: 70%;
        height: 0;
        overflow:hidden;
    }
}